---
import Layout from "@layouts/Layout.astro";
import SectionContainer from "@components/SectionContainer.astro";
import CardContainer from "@components/CardContainer.astro";
import PriceContent from "@components/PriceContent.astro";

// Recupera la ubicación desde localStorage
let location = "";
if (typeof window !== "undefined") {
    location = localStorage.getItem("locationInput") || "";
}
---

<Layout title="Selecciona producto del menú" description="Disfruta de las mejores pizzas hechas con ingredientes frescos y de calidad. En Pizza Galaxia, cada pizza es una delicia. Ven a probar nuestras especialidades en un ambiente acogedor o haz tu pedido en línea para disfrutar en casa. ¡La experiencia perfecta te espera!">
    <main>
        <a href="/cart" class="fixed z-[1] bottom-4 right-4 md:bottom-6 md:right-6 bg-[#1850b9] text-white hover:bg-[#3B82F6] py-2 px-4 rounded-md transition-transform transform hover:scale-105"> Ir al carrito </a>
        <SectionContainer id="MenuProductos" classname="max-w-3xl mx-auto mt-20 md:mt-16 p-4">
            <div class="flex flex-col text-center md:flex-row md:text-left md:gap-2">
                <p class="text-xl font-semibold">Ubicación:</p>
                <p class="text-xl" id="displayLocation">
                    {location ? location : "Cargando..."}
                </p>
            </div>

            <div class="grid grid-cols-1 mt-4 md:grid-cols-2 lg:grid-cols-3 gap-6">
                <!-- Card 1 -->
                <CardContainer imagePath="/src/assets/Combo1.webp" altText="Imagen del combo 1" TypeOfLoader="eager">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Combo 1</span>
                        </div>
                        <PriceContent isSelect={false} content="$270" />
                    </div>
                </CardContainer>

                <!-- Card 2 -->
                <CardContainer imagePath="/src/assets/Combo2.webp" altText="Imagen del combo 2" TypeOfLoader="eager">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Combo 2</span>
                        </div>
                        <PriceContent isSelect={false} content="$380" />
                    </div>
                </CardContainer>

                <!-- Card 3 -->
                <CardContainer imagePath="/src/assets/Combo3.webp" altText="Imagen del combo 3" TypeOfLoader="eager">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Combo 3</span>
                        </div>
                        <PriceContent isSelect={false} content="$150" />
                    </div>
                </CardContainer>

                <!-- Card 4 -->
                <CardContainer imagePath="/src/assets/Combo4.webp" altText="Imagen del combo 4" TypeOfLoader="eager">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Combo 4</span>
                        </div>
                        <PriceContent isSelect={false} content="$99" />
                    </div>
                </CardContainer>

                <!-- Card 5 -->
                <CardContainer imagePath="/src/assets/Pizza3Quesos.webp" altText="Imagen de la pizza de 3 quesos" TypeOfLoader="eager">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">3 Quesos</span>
                        </div>
                        <PriceContent isSelect={true} content={["Ch. $130", "Md. $180", "Grd. $260", "Fiesta $390"]} />
                    </div>
                </CardContainer>

                <!-- Card 6 -->
                <CardContainer imagePath="/src/assets/PizzaMargarita.webp" altText="Imagen de la pizza de margarita" TypeOfLoader="eager">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Margarita</span>
                        </div>
                        <PriceContent isSelect={true} content={["Ch. $130", "Md. $180", "Grd. $260", "Fiesta $390"]} />
                    </div>
                </CardContainer>

                <!-- Card 7 -->
                <CardContainer imagePath="/src/assets/PizzaPepperoni.webp" altText="Imagen de la pizza de pepperoni" TypeOfLoader="lazy">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Pepperoni</span>
                        </div>
                        <PriceContent isSelect={true} content={["Ch. $130", "Md. $180", "Grd. $260", "Fiesta $390"]} />
                    </div>
                </CardContainer>

                <!-- Card 8 -->
                <CardContainer imagePath="/src/assets/PizzaVegetariana.webp" altText="Imagen de la pizza vegetariana" TypeOfLoader="lazy">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Vegetariana</span>
                        </div>
                        <PriceContent isSelect={true} content={["Ch. $130", "Md. $180", "Grd. $260", "Fiesta $390"]} />
                    </div>
                </CardContainer>

                <!-- Card 9 -->
                <CardContainer imagePath="/src/assets/Boneless.webp" altText="Imagen de boneless" TypeOfLoader="lazy">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Boneless</span>
                        </div>
                        <PriceContent isSelect={false} content={"$100"} />
                    </div>
                </CardContainer>

                <!-- Card 10 -->
                <CardContainer imagePath="/src/assets/AlitasDePollo.webp" altText="Imagen de alitas de pollo" TypeOfLoader="lazy">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Alitas de Pollo</span>
                        </div>
                        <PriceContent isSelect={false} content={"$100"} />
                    </div>
                </CardContainer>

                <!-- Card 11 -->
                <CardContainer imagePath="/src/assets/PapasFritas.webp" altText="Imagen de papas a la francesa" TypeOfLoader="lazy">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Papas a la francesa</span>
                        </div>
                        <PriceContent isSelect={false} content={"$45"} />
                    </div>
                </CardContainer>

                <!-- Card 12 -->
                <CardContainer imagePath="/src/assets/ArosDeCebolla.webp" altText="Imagen de aros de cebolla" TypeOfLoader="lazy">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Aros de cebolla</span>
                        </div>
                        <PriceContent isSelect={false} content={"$70"} />
                    </div>
                </CardContainer>

                <!-- Card 13 -->
                <CardContainer imagePath="/src/assets/RefrescoEnLata.webp" altText="Imagen de refresco en lata" TypeOfLoader="lazy">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Refresco en lata</span>
                        </div>
                        <PriceContent isSelect={false} content={"$35"} />
                    </div>
                </CardContainer>

                <!-- Card 14 -->
                <CardContainer imagePath="/src/assets/Refresco600ml.webp" altText="Imagen de refresco 600ml" TypeOfLoader="lazy">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Refresco 600ml</span>
                        </div>
                        <PriceContent isSelect={false} content={"$50"} />
                    </div>
                </CardContainer>

                <!-- Card 15 -->
                <CardContainer imagePath="/src/assets/RefrescoVariosSabores.webp" altText="Imagen de refresco en varios sabores" TypeOfLoader="lazy">
                    <div class="flex flex-row justify-between">
                        <div class="flex flex-col">
                            <span class="text-xl font-bold">Refresco d/sabores</span>
                        </div>
                        <PriceContent isSelect={false} content={"$70"} />
                    </div>
                </CardContainer>
            </div>
        </SectionContainer>
    </main>
</Layout>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const displayLocation = document.getElementById("displayLocation");

        if (displayLocation) {
            const location = localStorage.getItem("locationInput");
            displayLocation.textContent = location ? location : "No se ingresó ninguna ubicación.";
        }
    });
</script>
